.songs_main{
    background-color: #121212;
    width: 100%;
    height: 90%;
    min-height: 850px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
    
}
