.main_artist-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  box-sizing: border-box;
  width: 66%;
  background-color: #121212;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 640px;
  overflow-y: auto;
}
.main_artist-photo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background-color: #058816a8;
  background-repeat: no-repeat;
    background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.main_artist-photo-name {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 20px;
  font-weight: 500;
  font-size: 72px;

}
.artist-photo-img{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-right: 20px;
} 
.main_artist-photo-name p {
  margin: 0;
}
.main_artist-view-music {
  padding: 20px;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.main_artist-view-music-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px
}
.music-options-play {
  width: 60px;
}
.music-options-play:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.music-options-menu {
  width: 30px;
}
.music-options-menu:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.main_artist-view-music-popular {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 30px;
}
.top_music {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #b3b3b3;
  gap: 10px;
  max-height: calc(640px - 325px);
  overflow-y: auto;
}
.one {
  padding-right: 3px;
  min-width: 30px;
  text-align: center;
}
.album_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}