.main_library-artist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
  flex-direction: row;
  padding: 10px 0px;
  box-sizing: border-box;
}
.main_library-artist-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 10px;
  object-fit: cover;
}
.main_library-artist-name {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  font-family: "Anton", sans-serif;
}