.header_img {
  width: 25px;
}
.header_homesearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.header_homesearch-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 10px;
  width: 20%;
  height: 100%;
  flex-grow: 1;
  background-color: #1f1f1f;
  border: 7px solid #1f1f1f;
  border-radius: 30px;
}
.header_input {
  width: 400px;
  height: 100%;
  padding: 15px;
  background-color: #1f1f1f;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Anton', sans-serif;
}