.songs_topic{   
    font-family: 'Anton', sans-serif;
    width: calc(100% - 10rem - 20px);
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: calc(10rem + 30px);
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 0.80fr 0.7fr;
    align-items: center;
    gap: 20px;
}
.songs_container{
    background-color: #121212;
    width: 100%;
    margin-top: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 620px; 
    overflow-y: auto;
    padding-right: 8px;
}


.songs_container::-webkit-scrollbar {
    width: 10px;
}
.songs_container::-webkit-scrollbar-track {
    background: transparent;
}
.songs_container::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.12);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
.songs_container {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.12) transparent;
}
.songs_title{
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    align-self: center;
}